<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>MyObject</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DiseaseServlet</display-name>
    <servlet-name>DiseaseServlet</servlet-name>
    <servlet-class>web.DiseaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiseaseServlet</servlet-name>
    <url-pattern>/disease</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AspirinInducedAsthmaServlet</display-name>
    <servlet-name>AspirinInducedAsthmaServlet</servlet-name>
    <servlet-class>web.AspirinInducedAsthmaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AspirinInducedAsthmaServlet</servlet-name>
    <url-pattern>/aspi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddUserServlet</display-name>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>web.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/addUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>web.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DrugsServlet</display-name>
    <servlet-name>DrugsServlet</servlet-name>
    <servlet-class>web.DrugsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DrugsServlet</servlet-name>
    <url-pattern>/drugs</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LiFeiPianServlet</display-name>
    <servlet-name>LiFeiPianServlet</servlet-name>
    <servlet-class>web.LiFeiPianServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LiFeiPianServlet</servlet-name>
    <url-pattern>/lifei</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelCookieServlet</display-name>
    <servlet-name>DelCookieServlet</servlet-name>
    <servlet-class>web.DelCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelCookieServlet</servlet-name>
    <url-pattern>/delCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChecksServlet</display-name>
    <servlet-name>ChecksServlet</servlet-name>
    <servlet-class>web.ChecksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChecksServlet</servlet-name>
    <url-pattern>/checks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkDetails</display-name>
    <servlet-name>checkDetails</servlet-name>
    <servlet-class>web.CheckDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkDetails</servlet-name>
    <url-pattern>/checkDetails</url-pattern>
  </servlet-mapping>
</web-app>