.nav_all {
    background:#39a0be;
    width: auto;
    height: 70px;
}
.nav {
    width: 1000px;
    margin: 0 auto;
}
.nav_left {
    width: 560px;
    justify-content: space-between;
    float: left;
}
a {
    text-decoration: none;
    color: #333;
}


.nav_ul {
    margin-left: 40px;
    float: left;
    height: 70px;
}

.nav_left h2 {
    line-height: 70px;
    color: #fff;
    font-size: 18px;
    float: left;
    margin-right: 25px;
}
.nav_right {
    float: left;
    margin-left: 20px;
    width: 420px;
}

.nav_r_button {
    height: 20px;
    line-height: 19px;
    color: #39a0be;
    font-size: 14px;
    background: #fff;
    width: 58px;
    border-left: 1px solid #39a0be;
    margin-top: 7.5px;
}
.go_ask {
    margin-left: 170px;
    width: 68px;
    height: 35px;
    line-height: 35px;
    background:#ff9800;
    color: #fff;
    float: left;
    margin-top: 17.5px;
    text-align: center;
    border-radius: 5px;
}

ol, ul {
    list-style: none;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
.container {
    width: 700px;
    margin: 20px 300px;

}


.plan {
    
    background-color: #fff;
    padding: 5px 15px;
    margin-top: 53px;
    border: 1px solid #ddd;
}
.plan .t {
    border-bottom: 1px solid #ddd;
    width: 100%;
    display: block;
    padding: 5px 12px 8px 12px;
     font-weight: bold;
    color: #ff9800;
    font-size: 19px;
}
.plan li {
    display: block;
    overflow: hidden;
    border-bottom: 1px dashed #e5e5e5;
    line-height: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}
.plan li p {
    font-size: 16px;
    color: #666;
}
.plan li em {
    font-size: 14px;
    color: #666;
    color:#ff9800;
}
.plan li a {
    font-size: 14px;
    color: #666;
    color:#ff9800;
    float：right；
}
.plan li span {
    height:10px;
    width:100px;
}
