<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
  "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.tedu.store.mapper.AddressMapper">

<!-- Integer insert(Address address);  -->

<insert id="insert" useGeneratedKeys="true" keyProperty="aid" >
		insert into t_address (
				uid ,name ,
				province ,city ,
				area ,district ,
				zip ,address ,
				tel ,phone,
				tag, is_default ,
				created_user ,created_time ,
				 modified_user , modified_time 
		) values (
				#{uid} ,#{name },
				#{province} ,#{city} ,
				#{area} ,#{district} ,
				#{zip} ,#{address} ,
				#{tel} ,#{phone},
				#{tag},#{ isDefault} ,
				#{createdUser},#{createdTime},
				#{modifiedUser},#{modifiedTime}
		)

</insert>


<!-- Integer countByUid( Integer uid); -->
	<select id="countByUid" resultType="java.lang.Integer">
			select 
					count(aid)
			 from 
					 t_address
			  where
			 		  uid=#{uid}
			
	</select>
	
	<!--通过uid找到用户地址  -->
	<!--	List<Address> findByUid(Integer uid);  -->
	<select id="findByUid" resultType="cn.tedu.store.entity.Address">
			select
			 tag,name,district,address,phone,is_default as isDefault,aid 
		from 
			t_address 
		where 
			uid=#{uid} 
		order by 
			is_default desc,modified_time desc 
	
	</select>
	
	<!-- 修改地址是否默认,通过aid -->
	<!-- Integer updateDefault(
			@Param("aid") Integer aid,
			@Param("modifiedUser") String modifiedUser,
			@Param("modifiedTime") Date modifiedTime ); -->
			
			<update id="updateDefault">
					update
					 t_address 
					set 
						is_default=1,modified_user=#{modifiedUser} ,
						modified_time=#{modifiedTime}
					where 
						aid=#{aid}
			
			</update>
			
			<!--设置所有的都为非默认.,通过UI的  -->
			<!--Integer updateNonDefault(Integer uid);  -->
			<update id="updateNonDefault">
					update
						 t_address 
					set 
						is_default=0
					where
						uid=#{uid}
			</update>
			
			<!--通过aid找是否有数据  -->
			<!-- Address findByAid(Integer aid); -->
			<select id="findByAid" resultType="cn.tedu.store.entity.Address">
			select 
			
				uid,name ,
				phone,district,address,
				is_default as isDefault
			from 
				t_address 
			where 
				aid=#{aid}
			</select>
			
			<!-- 通过aid删除收货地址 -->
			<!-- 	Integer deleteByAid(Integer aid);  -->
			<delete id="deleteByAid">
			delete from t_address where aid=#{aid}
			
			</delete>
			
			<!-- 通过uid找到最后一次修改的收货地址 -->
			<!--Address findLastModified(Integer uid);  -->
			<select id="findLastModified" resultType="cn.tedu.store.entity.Address">
						select
							aid
					 from 	
								t_address 
						where 
							uid=#{uid}
						order by 
								modified_time desc 
						limit 0,1
			</select>
	
</mapper>